{% extends 'base.html.twig' %}

{% block title %}SnowTricks Home{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ asset('img/home-bg.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>SnowTricks</h1>
                        <span class="subheading">A place to share your knowledge of snowboardings !</span>
                    </div>
                    </br>
                    {% if app.user %}
                        <div class="d-flex justify-content-center mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ path('app_tricks_new') }}">Ajouter un
                                trick</a>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-center mb-4">
                        <a href="#tricks"><i class="fa-sharp fa-solid fa-arrow-down fa-2xl" style="color: #fefeff;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row justify-content-left">
                <div class="alert alert-success">{{ flash_message }}</div>
            </div>
        </div>
    {% endfor %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 justify-content-left">
                {% for trick in tricks %}
                    <div class="col mb-5">
                        <div class="card h-100" style="background-color:#fdfbfe;">
                            <!-- Trick image-->
                            {% if trick.images|length > 0 %}
                                <img class="card-img-top" src="{{ asset('uploads/' ~ trick.images|first.title) }}"
                                     alt="..." style="width: 100%; height: 150px; object-fit: cover;"/>
                            {% else %}
                                <img class="card-img-top" src="{{ asset('img/home-bg.jpg') }}" alt="..."
                                     style="width: 100%; height: 150px; object-fit: cover;"/>
                            {% endif %}
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Trick name-->
                                    <a href="{{ path('app_tricks_show', {'id': trick.id, 'slug': trick.slug}) }}">
                                        <h3 class="fw-bolder" id="tricks">{{ trick.title }}</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{{ path('app_tricks_show', {'id': trick.id, 'slug': trick.slug}) }}"
                                                            style="width:100%;">Consulter</a></div>
                            </div>
                            {% if app.user %}
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                                href="{{ path('app_tricks_edit', {'id': trick.id, 'slug': trick.slug}) }}"
                                                                style="width:100%;">Éditer</a></div>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <form class="text-center" method="post"
                                          action="{{ path('app_tricks_delete', {'id': trick.id}) }}"
                                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ trick.id) }}">
                                        <button class="btn text-center btn-outline-dark mt-auto" style="width:100%;">
                                            Supprimer
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation container">
                {% set pages = (total / limit)|round(0, 'ceil') %}
                <ul class="pagination">
                    <li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
                        <a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}"><i
                                    class="fa-solid fa-arrow-left"></i></a>
                    </li>
                    {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                        <li class="page-item {{ (page == item) ? 'active' : '' }}">
                            <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
                        <a class="page-link" href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}"><i
                                    class="fa-solid fa-arrow-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
{% endblock %}
